<!DOCTYPE html>
<html>
<head>
    <title>Idea Bubbles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='bubbles.js') }}" defer></script>
</head>
<body>
    <a href="/submit">Submit a new idea</a>
    <div id="bubble-container">
        {% for idea in ideas %}
            <div class="bubble" style="left: {{ (loop.index0 * 50) % 90 }}%; top: {{ (loop.index0 * 80) % 90 }}%;">
                {{ idea.text }}
            </div>
        {% endfor %}
    </div>
</body>
</html>
